@page "/cart"
@using CafeClient.Data
@inject CartState cartState
<h3>Cart</h3>

<PageTitle>Cart</PageTitle>

<ul>
    @foreach (var item in cartState.Items)
    {
        <li>@item.Title</li>
    }
</ul>

@code {

    
}
