@page "/"
@using CafeClient.Components
@using CafeClient.Models
@using CafeClient.Services
@inject MenuService _menuService

<PageTitle>My Cafe</PageTitle>

<h1>Hello!!! Welcome to the online cafe</h1>


<div class="card-group">
    @foreach (var item in items)
    {
        <div class="m-3">
            <MenuItem Product="item" />
        </div>
    }
</div>

@code {

    protected override void OnInitialized()
    {
        items = _menuService.GetMenuItems();
        base.OnInitialized();
    }

    private List<Item> items = new List<Item>();
}
