@page "/index"
@using CafeClient.Components
@using CafeClient.Services
@using CafeCommon.Models
@inject MenuService _menuService
@inject Order MyOrder;

<PageTitle>My Cafe</PageTitle>

<h1>Hello!!! Welcome to the online cafe</h1>


<div class="card-group">
    @foreach (var drink in drinks)
    {
        <div class="m-3">
            <MenuItem DrinkOrder="drink" />
        </div>
    }
</div>

@code {

    protected override void OnInitialized()
    {
        drinks = _menuService.GetMenuItems();
        base.OnInitialized();
    }

    private List<Drink> drinks = new List<Drink>();
}
